/* RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* main code */

body {
  background-color: var(--primary-color);
  font-family: var(--font-family);
}

.dashboard-btn {
  background: var(--violate-50);
  padding: 12px 24px;
  border: none;
  color: var(--gray-700);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.primary-btn {
  padding: 12px 36px;
  outline: none;
  border: none;
  text-align: center;
  background: var(--secondary-btn-color);
  color: var(--white-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  /* width: 100%; */
  min-width: fit-content;
  /* letter-spacing: 2px; */
}

.primary-btn:hover {
  background: var(--secondary-btn-color);
  color: var(--white-color);
}

.heading {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  /* 150% */
}

.heading-mobile {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  /* 150% */
}

.offcanvas-body {
  position: static !important;
}

.top-nav-user .dropdown-menu {
  left: -400% !important;
  top: 16px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.main-content {
  max-width: calc(100% - 312px);
  margin-left: auto;
}

/* search input field */

.search-input-group {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  width: 320px;
}

.search-input-group img {
  width: 20px;
  height: 20px;
}

input[type="text"]:focus {
  outline: 0;
}

.user-table .role {
  padding: 6px 16px;
  border-radius: 16px;
  text-align: center;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.user-table .role.role-admin {
  background: var(--blue-50);
  color: var(--blue-700);
}
.user-table .role.role-manager {
  background: var(--success-50);
  color: var(--success-700);
}
.user-table .role.role-stuff {
  background: var(--purple-50);
  color: var(--purple-700);
}






/* =========================================
               BREADCRUMB 
============================================*/

/* BREADCRUMB */
.right-content .breadcrumb-item+.breadcrumb-item::before {
  content: url("/assets/images/chevron-up.svg");
  margin-top: 1.5px;
}

.right-content .breadcrumb-item a {
  color: var(--gray-500) !important;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.right-content .breadcrumb-item a {
  display: flex !important;
  align-items: center !important;
  gap: 8px;
}

.right-content .breadcrumb-item.active a {
  color: var(--violate-500) !important;
}

/* =======================================
          Main Accordion
=========================================*/
.accordion.accordion-flush.main-content-accordion {}

.main-content-accordion h1 {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}

.main-content-accordion h1 .question-text {
  font-weight: 600;
}

.main-content-accordion .accordion-button {
  padding: 8px !important;
  background: transparent;
  /* border: 1px solid var(--gray-300) !important; */
  box-shadow: 0 0 1px 1px var(--gray-300);
  border-radius: 8px;
  border: 0 !important;
}

.main-content-accordion .accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  border-radius: 8px 8px 0px 0px;
  box-shadow: none;
  background: transparent !important;
}

.main-content-accordion .accordion-button:has(.collapsed) {
  background-color: red !important;
}

.collapse:not(.show) {
  display: none !important;
  background-color: red !important;
}

/* =========================================
               DYNAMIC REPORT 
============================================*/
.dynamic-report {
  /* margin-top: 24; */
}

.dynamic-report .dynamic-report-left h1 {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.dynamic-report-btn button {
  background: var(--violate-50);
  padding: 12px 24px;
  display: flex;
  gap: 10px;

  border: none;
  color: var(--gray-700);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.dynamic-report-btn button:hover {
  background-color: var(--violate-500);
}

.right-content .top-title-sec h1 {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

/* =========================================
               TEXT BOX 
============================================*/

.text-box .textarea-group textarea.text-box-textarea {
  min-height: 102px;
  padding: 0 10px;
  padding-top: 10px;
}

.text-box .textarea-group textarea.text-box-textarea:focus {
  outline: none;
}

/* .text-box-btn-sec   */

.text-box .text-box-btn-sec .text-box-btn-clear {
  background: var(--white-color);
  color: var(--Gray-700);
  padding: 12px 36px;
}

.text-box .text-box-btn-sec .text-box-btn-ask {
  color: var(--Gray-700);
  padding: 12px 36px;
}

.text-box .text-box-btn-sec .text-box-btn-clear:hover {
  background: #ddd;
  color: var(--gray-700);
}

.text-box .text-box-btn-sec .text-box-btn-ask:hover {
  background: var(--violate-500);
  color: var(--white-color) !important;
}

/* ================================================
              DYNAMIC CONTENT SECTION
====================================================*/

.dynamic-content-sec {
  height: 70vh;
}

.dynamic-content-sec .section-area .content-wrapper {
  background: var(--gray-50);
  border-radius: 8px;
}

.session-title {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

#left-scroll {
  max-height: 630px;
}

#left-scroll::-webkit-scrollbar {
  width: 8px;
}

#left-scroll::-webkit-scrollbar-track {
  background: var(--gray-200);
  border-radius: 10px;
}

#left-scroll::-webkit-scrollbar-thumb {
  background-color: var(--gray-400);
  border-radius: 10px;
}

#left-scroll .left-scroll-title {
  color: var(--dark);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 10px;
}

#left-scroll p {
  color: var(--Gray-600);
  font-size: 16px;
}

.right-content .right-content-title h4 {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.right-content .right-content-search {
  margin: 16px 0;
}

.right-content .right-content-title h4 span {
  font-weight: 500;
}

.right-content .right-content-search {
  display: flex;
  gap: 16px;
  align-items: center;
}

.right-content .right-content-graphs {
  display: flex;
  gap: 16px;
}

.right-content .right-content-graphs li {
  border: 1px solid var(--gray-300);
  padding: 12px;
  background: white;
  border-radius: 8px;
  cursor: pointer;
}

.right-content .right-content-graphs li:hover {
  box-shadow: 0px 0px 0px 4px rgba(124, 105, 239, 0.15);
}

.export-toggle-button {
  border: 1px solid var(--gray-300);
  padding: 12px 16px;
  font-size: 24px;
  color: var(--gray-700);
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}

.export-toggle-button:hover {
  box-shadow: 0px 0px 0px 4px rgba(124, 105, 239, 0.15);
}

.export-toggle-button:focus {
  border: 1px solid var(--gray-300);
}

/* table */

th:last-child {
  text-align: right;
}

td:last-child {
  text-align: right;
}

/* thead {
} */

table.table {
  /* border: 1px solid red !important; */
  /* border-radius: 8px !important; */
}

/* .table > :not(caption) > * > * {
  border: 0;
} */

/* tr {
  border-left: 1px solid red;
  border-right: 1px solid red;
} */

/* th {
  padding: 16px !important;
  background: var(--gray-100) !important;
  border-radius: 10px 10px 0 0 !important;
  border-top: 1px solid red !important;
} */

.table-striped>tbody>tr:nth-of-type(even)>* {
  /* background: var(--gray-50); */
  /* background: #f9fafb;
  padding: 16px; */
}

/* .table-striped > tbody > tr:nth-of-type(odd) > * {
  padding: 16px;
} */

.table-thead-bg {
  background: red !important;
}

.table-striped th {
  border: none;
  padding: 10px;
}

.table-striped>thead>tr {
  padding: 100px !important;
}

.table-striped>thead>* {
  --bs-table-color-type: #958b8b;
  --bs-table-bg-type: white;
  padding: 16px;
  border: none;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-color-type: #958b8b;
  --bs-table-bg-type: white;
  padding: 16px;
  border: none;
}

.table-striped>tbody>tr:nth-of-type(even)>* {
  --bs-table-color-type: #958b8b;
  --bs-table-bg-type: var(--gray-50);
  padding: 16px;
  border: none;
}

/* =======================================
            PAGINATION
========================================== */
.bottom-pagination {
  padding: 16px 0;
}

.bottom-pagination .number-wrapper {
  color: var(--dark);
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="number"] {
  padding: 8px 14px;
  width: 80px;
  border-radius: 8px;
  border: 1px solid var(--gray-200);
  color: var(--dark);
  font-size: 16px;
}

input[type="number"]:focus {
  outline: 0;
}

input[type="number"]::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* -webkit-appearance: none; */
  /* background: url("/assets/images/arrow-right.svg"); */
  /* padding: 10px; */
}

.page-item {
  margin: 0 8px;
}

.page-link {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #eaecf0;
}

.page-item a.page-link {
  color: var(--gray-700);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.page-item:last-child {
  transform: rotate(180deg);
}

/* ====================================
            REGISTER FORM
======================================== */

.form-box-container {
  width: 600px;
  margin: auto;
  margin-top: 100px;
}

.form-box-top-content {
  margin-bottom: 24px;
}

.form-box-title {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.form-box-top-desc {
  color: var(--gray-500);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.form-box-input-group label {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.form-box-input-group input {
  padding: 12px 16px;
}

.form-bottom-text {
  color: var(--violate-500);
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-group label {
  color: --light-text-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.15px;
}

.checkbox-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid var(--gray-300);
  background: var(--white-color);
  border-radius: 8px !important;
}

/* forgot password */

.back-to-login a {
  color: var(--primary-p-900);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

/* OTP */

.otp-box-container {
  width: 412px;
}

.otp-bottom-content {
  border: 1px solid var(--violet-300);
  padding: 8px 12px;
  border-radius: 8px;
}

.otp-past-code {
  color: var(--violate-500);
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
}

.otp-input-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.otp-input-field {
  text-align: center;
  width: 25%;
  background: var(--gray-50);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
}

/* ==========================================
            USER TABLE
================================================= */
/* table */
.data-table {
  width: 100%;
}

th,
td {
  border: none;
  color: var(--dark);
}

th {
  background: var(--gray-100) !important;
}

td {
  padding: 16px !important;
}

th:first-child {
  border-radius: 8px 0 0 0;
  padding: 16px;
}

th:last-child {
  border-radius: 0 8px 0 0;
  padding: 16px;
}

table tr:nth-child(even) {
  background: var(--gray-100) !important;
}

.user-table th,
.user-table td {
  text-align: left;
  vertical-align: middle;
}

.user-table td.user-img-td .user-img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.user-table td.user-img-td .user-img img {
  border-radius: 100%;
}

.user-table th:last-child {
  text-align: center;
}

.user-table td:last-child {
  justify-content: flex-end;
}

.user-action-btn {
  font-family: var(--font-family);
  padding: 6px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.edit-btn {
  background: var(--edit-bg);
  color: var(--edit-text-color);
}

.delete-btn {
  background-color: var(--delete-bg);
  color: var(--delete-text-color);
}

.view-btn {
  background: var(--violate-50);
  color: var(--violate-500);
}

.user-table-scroll::-webkit-scrollbar {
  width: 8px;
}

.user-table-scroll::-webkit-scrollbar-track {
  background: var(--gray-200);
  border-radius: 10px;
}

.user-table-scroll::-webkit-scrollbar-thumb {
  background-color: var(--gray-400);
  border-radius: 10px;
}

/* ================================
              MODELS
===================================*/

.models-action-btn {
  border: none;
  outline: 0;
  padding: 8px 12px;
  border-radius: 4px;
}

.models-action-btn.watch-btn {
  background: var(--violate-50);
}

.models-action-btn.edit-btn {
  background: var(--edit-bg);
}

.model-check .form-check-input:checked {
  background-color: var(--violate-500);
  border-color: var(--violate-500);
}

/*================================================
               USER PROFILE PAGE 
 ===============================================*/

.user-profile .personal-info-photo {
  width: 120px;
  height: 120px;
  position: relative;
}

.user-profile .personal-info-photo img {
  border-radius: 74px;
}

.user-profile .personal-info-photo .personal-info-photo-edit-btn {
  color: var(--white-color);
  background: var(--light-dark);
  backdrop-filter: blur(2px);
  position: absolute;
  border-radius: 8px;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-profile .personal-info-photo .personal-info-photo-edit-btn img {}

.user-info-form input {
  background-color: var(--gray-500) !important;
}

.user-info-form .user-info-form-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-info-form-btn button {
  /* max-width: 300px !important; */
}

.user-profile input[type="email"],
.user-profile input[type="text"],
.user-profile input[type="password"] {
  background: var(--gray-50) !important;
  border-radius: 8px !important;
}

.password-field .password-field-remove-eye {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .user-info-form-btn button {
    max-width: 100% !important;
  }
}

/* ==========================================
              DASHBOARD - Personal Info
==============================================*/

.dashboard-block {
  border-radius: 12px;
  border: 1px solid var(--gray-300);
  padding: 24px;
}

.dashboard-block .dashboard-block-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dashboard-block .dashboard-block-header .dashboard-block-header-icon {
  padding: 8px;
  background: var(--violate-50);
  border-radius: 8px;
}

.dashboard-block .dashboard-block-header h1 {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin: 0;
}

.dashboard-top-user-info {
  padding: 0 16px;
}

.dashboard-top-user-info-card {
  background: var(--gray-50);
  padding: 16px;
  border-radius: 8px;
}

.dashboard-top-user-info-card p {
  color: var(--gray-600);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
}

.dashboard-top-user-info-card h4 {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.dashboard-content-box .top-view-all-btn {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  padding: 8px 12px;
  background: transparent;
  border: 1px solid var(--light-1);
}

/* dashboard-content-box Accordion */
.dashboard-content-box .accordion .accordion-item button {
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 16px !important;
  font-weight: 400;
  line-height: 24px;
  background: var(--gray-50) !important;
  margin-top: 8px;
  border-radius: 8px !important;
}

.dashboard-block th:last-child {
  text-align: center;
}

.dashboard-block td:last-child {
  justify-content: flex-end;
}

.dashboard-block td button {
  padding: 4px 6px;
  align-items: cente;
}

.dashboard-block td,
.dashboard-block th {
  text-wrap: nowrap;
}

.dashboard-block ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dashboard-block ::-webkit-scrollbar-track {
  background: var(--gray-200);
  border-radius: 10px;
}

.dashboard-block ::-webkit-scrollbar-thumb {
  background-color: var(--gray-400);
  border-radius: 10px;
}